<nav class="navbar navbar-expand-md mw-lg navbar-dark header-nav justify-content-center">
  <a class="navbar-brand" target="_blank" rel="noopener" href="http://utina.yoshitokamizato.com/">ブログ</a>
  <a class="navbar-brand" target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag">Youtube</a>
</nav>